img {
    width: 30%;
    height: auto;
}

a{
    text-decoration: none;
    color: rgb(43, 127, 175);
    font-size: 15px;
}

.espaço{
    padding-left: 20px;
}
.espaçotexto{
    padding-left: 40px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-left: 20px;
}


